{
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],

  "env": {
    "development": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "es": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    }
  }
}
